<div class="well well-sm">
  <h1>Welcome to "tests" Web UI</h1>

  <ul class="list-group">
    <li class="list-group-item"><%= link_to 'Tests table', tests_path, class: 'btn btn-default' %></li>
    <li class="list-group-item"><%= link_to 'Answers table', tests_path, class: 'btn btn-default' %></li>
  </ul>
</div>
