<h1>Editing an</h1>

<div class="row" style="margin: 15px 0 15px 0;">
    <%= link_to 'Show', @an, class: 'btn btn-info' %> |
    <%= link_to 'Back', ans_path, class: 'btn btn-warning' %>
</div>

<div class="row">
  <div class="well well-sm">
    <%= render 'form' %>
  </div>
</div>
