<h1>New Answer</h1>

<div class="row" style="margin: 15px 0 15px 0;">
  <%= link_to 'Back', ans_path, class: 'btn btn-info col-sm-offset-1' %>
</div>
<div class="row">
  <div class="well well-sm">
    <%= render 'form' %>
  </div>
</div>

